<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{customer/layouts/base :: layout(~{::title},~{::body/content()})}">

<head>
    <title>マイページ</title>
</head>

<body>
    <!-- Chapter1 Lesson1 Section A -->
    <!-- <h1 th:text="マイページ"></h1> -->

    <!-- <div class="breadcrumb">
            <ul>
                <li><a href="#">ホーム</a></li>
                <li>マイページ</li>
            </ul>
        </div> -->
    <main>
        <section class="dashboard">
            <div class="user-info">
                <!-- Chapter1 Lesson1 Section B -->
                <!-- <p th:text="${name}">名前：ユーザー名</p>
                <p th:text="${points}">保有ポイント： 0 pt</p> -->

                <!-- Chapter1 Lesson1 Section C -->
                <!-- <p th:text="${name}">名前：ユーザー名</p>
                <p th:text="${pointsStr}">保有ポイント： 0 pt</p> -->

                <!-- Chapter1 Lesson2 Section B -->
                <!-- <p th:text="${greeting}"></p> -->
                 <!-- Chapter1 Lesson3 Section A -->
                <!-- <p th:text="${fullName}"></p> -->

                <!-- Chapter1 Lesson3 Section B -->
                <p><span th:text="${loginUser.LastName}"></span>  <span th:text="${loginUser.firstName}"></span></p>
            </div>
            <div class="quick-access">
                <div class="quick-access-item">
                    <i class="fas fa-bell"></i>
                    <span>お知らせ</span>
                </div>
                <div class="quick-access-item">
                    <i class="fas fa-ticket-alt"></i>
                    <span>クーポン情報</span>
                </div>
                <div class="quick-access-item">
                    <i class="fas fa-truck"></i>
                    <span>配送状況</span>
                </div>
            </div>
        </section>
        <section class="action-grid">
            <div class="action-item">
                <i class="fas fa-clipboard-list fa-5x"></i>
                <span>注文履歴</span>
            </div>
            <div class="action-item">
                <i class="fas fa-heart fa-5x"></i>
                <span>お気に入り商品</span>
            </div>
            <div class="action-item">
                <i class="fas fa-exchange-alt fa-5x"></i>
                <span>商品の返品</span>
            </div>
            <div class="action-item">
                <i class="fas fa-user-edit fa-5x"></i>
                <span>お客様情報の確認・変更</span>
            </div>
            <div class="action-item">
                <i class="fas fa-map-marker-alt fa-5x"></i>
                <span>配送先住所の変更・登録</span>
            </div>
            <div class="action-item">
                <i class="far fa-credit-card fa-5x"></i>
                <span>クレジットカードの変更・登録</span>
            </div>
        </section>
    </main>

</body>

</html>